* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}
* a {
  text-decoration: none;
  color: #333;
}

body {
  overflow-x: hidden;
}

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.header nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: white;
}
.header nav .logo {
  font-size: 1.2rem;
  color: #333;
}
.header nav .logo span {
  color: #3878d9;
}
.header nav .pageLinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 10vh;
  right: 0;
  height: 100vh;
  width: 60vw;
  background: white;
  transform: translateX(100vw);
  transition: all 0.7s;
}
.header nav .pageLinks li {
  margin-bottom: 100px;
}
.header nav .pageLinks.menuActive {
  transform: translateX(0);
}
.header nav .mobileMenuButton {
  cursor: pointer;
}
.header nav .mobileMenuButton .mobileMenuBar {
  width: 32px;
  height: 2px;
  background-color: #3878d9;
  margin: 8px;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content {
  min-width: 50vw;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .content .sectionTitleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 0;
}
.container .content .sectionTitleArea .sectionTitle {
  font-size: 1.5rem;
}
.container .content .sectionTitleArea .sectionBar {
  width: 70%;
  height: 5px;
  background-color: #3878d9;
  border-radius: 15px;
}

#home {
  background-color: #3878d9;
}
#home .content .mainText {
  align-self: flex-start;
  color: white;
  padding: 10px;
}
#home .content .mainText .title, #home .content .mainText .subtitle {
  font-size: 1.4rem;
}
#home .content .mainText .name {
  font-size: 1.8rem;
}
#home .content .contacts {
  margin-left: 10px;
  align-self: flex-start;
}
#home .content .contacts a {
  display: inline-flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: white;
  border-radius: 25px;
}
#home .content .contacts a img {
  width: 100%;
}
#home .content .laptopGif {
  display: inline-flex;
  justify-content: center;
  width: 250px;
}
#home .content .laptopGif img {
  width: 100%;
}

#aboutMe .content {
  text-align: center;
}

#technologies {
  background-color: #3878d9;
  color: white;
  text-align: center;
}
#technologies .content .sectionTitleArea .sectionTitle {
  color: white;
}
#technologies .content .sectionTitleArea .sectionBar {
  background-color: white;
}
#technologies .content .technologiesArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#technologies .content .technologiesArea .technologiesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}
#technologies .content .technologiesArea .technologiesGrid .tech {
  max-width: 70px;
  height: 100px;
}
#technologies .content .technologiesArea .technologiesGrid .tech img {
  width: 100%;
}
#technologies .content .technologiesArea .technologiesGrid .tech .techDesc {
  display: none;
}
#technologies .content .technologiesArea .technologiesGrid .techActive {
  border-bottom: 2px solid white;
}

/*# sourceMappingURL=style.css.map */
