.navbar {
  min-height: 8vh;
  background-color: #141029!important;
  border-bottom: 2px solid #212199;

  .container {
    font-size: 25px;
    
    .navbar-brand{
      
      font-size: 25px;
    }
  }
}

.container-fluid {
  min-height: 100vh;

  .container00{
    min-height: 92vh;
  }
}

span {
  color: #3a76c5;
}