.container00 {
  background-image: url(../../images/background/home.jpg);
  background-size: cover;

  color: white;

  .titleContent{
    p {
      font-size: clamp(1.3rem, 35px, 45px);
    }
    h1 {
      font-size: clamp(1.5rem, 50px, 70px );
    }
  }
  
 .laptopImgContainer {
  min-width: 300px;
  max-width: 450px;
  img{
    width: 100%;
  }
 }
}