.container00 {
  background-image: url(../../images/background/home.jpg);
  background-size: cover;

  color: white;

  .titleContent{
    p {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 4rem;
    }
  }
  
 .laptopImgContainer {
  min-width: 250px;
  width: 500px;
  max-width: 600px;
  img{
    width: 100%;
  }
 }
}